body {
    margin: 0px;
    color: rgba(68, 79, 87, 0.8);
    font-family: "Futura PT", "Futura", "Helvetica", "Sans serif";
    /*background-image: url(../images/back_var1.jpg);*/
    /*background-repeat: repeat;*/
    /*background-color: #292D39;*/
}
a {
    text-decoration:none;
    color: rgba(68, 79, 87, 0.8);
}
[type='submit'] {
    background-color: #00babc;
    color:white;
    border: none;
    cursor: pointer;
    width: 80px;
}
[type='submit']:hover {
    background-color: #008889;
}

/*header*/
header {
    background-color: #292D39;
    min-height: 80px;
    padding: 10px;
    color: white;
}
header a {
    color: white;
}
.logo_main {
    width: 50px;
}
.header_icons {
    width: 50px;
}
#login_href {
    /*float: right;*/
}
#user_login{
    text-align: center;
    font-size: 12px;
    display: inline-block;
    float: right;
    width: 120px;
}
#logout:hover {
    color: #BEBEC8;
}

/*container*/
#main_container {
    text-align: center;
}

/*404error*/
#error_img {
    max-width: 50%;
    margin-top: 15%;
}

/*footer*/
footer {
    position: fixed;
    left: 0; bottom: 0;
    /*padding: 20px;*/
    color: #fff;
    width: 100%;
    background-color: #292D39;
    text-align: right;
}
.copyright {
    padding-right: 20px;
}

/*register*/
#form_register, #form_login {
    margin-top: 10%;
}
#form_register label, #form_login label{
    display: inline-block;
    width: 150px;
    text-align: right;
    padding-right: 10px;
}
#form_register input, #form_login input {
    width: 180px;
    height: 30px;
    margin-bottom: 10px;
}

[type='button'] {
    text-align: center;
    background-color: #BEBEC8;
    color:white;
    border: none;
    width: 80px;
}
#error_user {
    margin-top: 20px;
    text-align: center;
    color: darkred;
}