* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0px;
    color: rgba(68, 79, 87, 0.8);
    font-family: "Futura PT", "Futura", "Helvetica", "Sans serif";
    height: 100%;
    /*background-image: url(../images/back_var1.jpg);*/
    /*background-repeat: repeat;*/
    /*background-color: #292D39;*/
}
a {
    text-decoration:none;
    color: rgba(68, 79, 87, 0.8);
}
a:hover {
    color: #BEBEC8;
}
[type='submit'] {
    background-color: #00babc;
    color:white;
    border: none;
    cursor: pointer;
    width: 80px;
}
[type='submit']:hover {
    background-color: #008889;
}

/*header*/
header {
    background-color: #292D39;
    min-height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    width: 100%;
    /*position: fixed;*/
}
header a {
    color: white;
}
.logo_main {
    width: 50px;
    margin-left:20px;
}
.header_icons {
    width: 50px;
}
#login_href {
    /*float: right;*/
}
#logout img {
    width: 50px;
    height: auto;
}
#header_links {
    float: right;
}
#camera {
    text-align: center;
    font-size: 12px;
    display: inline-block;
    width: 120px;
}
#user_login{
    text-align: center;
    font-size: 12px;
    display: inline-block;
    /*float: right;*/
    width: 120px;
}
#div_logout {
    display: inline-block;
    margin-right: 20px;
}
#logout:hover {
    color: #BEBEC8;
}

/*container*/
.wrapper {

}
#container {
    /*position: relative;*/
    /*min-height: 100%;*/
}
#main_container {
    min-height: calc(100vh - 180px);
    text-align: center;
}

/*404error*/
#error_img {
    max-width: 50%;
    padding-top: 15%;
}

/*footer*/
footer {
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 0;*/
    width: 100%;
    height: 80px;
    /*position: fixed;*/
    /*left: 0; bottom: 0;*/
    /*padding: 20px;*/
    color: #fff;
    background-color: #292D39;
    text-align: right;
}
.copyright {
    padding-right: 20px;
    padding-top: 10px;
}


/*gallery*/
.gallery_photos {
    max-width: calc(100% - 20px);
    margin: 10px;
}
.gallery_photo_frame{
    /*height: 250px;*/
    /*margin: auto;*/
}
#gallery_list {
    text-align: left;
}
.gallery_photo {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: inline-block;
    width: calc(33.3% - 22px);
    border: 1px solid #e6e6e6;
    margin: 10px;
}
.likes_block {
    margin: 10px;
}
.likes_block img{
    padding: 10px;
    opacity: 0.6;
}

.date {
    font-size: 0.5vw;
    color: #e6e6e6;
}


/*register*/
#form_register, #form_login {
    padding-top: 10%;
}
#form_register label, #form_login label{
    display: inline-block;
    width: 150px;
    text-align: right;
    padding-right: 10px;
}
#form_register input, #form_login input {
    width: 180px;
    height: 30px;
    margin-bottom: 10px;
}

[type='button'] {
    text-align: center;
    background-color: #BEBEC8;
    color:white;
    border: none;
    width: 80px;
}
#error_user {
    margin-top: 20px;
    text-align: center;
    color: darkred;
}

/*Account*/
.user_photos {
    max-width: 30%;
    margin: 10px;
}

.edit{
    width: 20px;
    opacity: 0.6;
}
.edit:hover{
    opacity: 1;
}
.hidden_div {
    /*display: none;*/
}
.hidden_div label, .hidden_div p{
    color: darkred;
}

#cancel_change{
    display: inline-block;
    text-align: center;
    background-color: #BEBEC8;
    color:white;
    border: none;
    width: 180px;
    height: 30px;
    margin-bottom: 10px;
}
#cancel_change:hover {
    background-color: gray;
}

#photos_published {
    width: calc(100% - 20px);
    height: 200px;
    overflow-x: scroll;
    margin-left: 10px;
    margin-right: 10px;
}

#photos_published_carusel{
    width: 9999px;
    height: 150px;

}

#photos_published #photos_published_carusel .gallery_photo {
    height: 100%;
    width: auto;
    float: left;

}
#photos_published #photos_published_carusel .gallery_photo .gallery_photos {
    height: calc(100% - 45px);
    margin-bottom: 0px;
}
#photos_published #photos_published_carusel .gallery_photo .likes_block {
    margin: 5px;
    margin-top: 0px;
}

#photos_published #photos_published_carusel .gallery_photo .likes_block  img {
    width: 12px;
}

/*admin*/
#form_adminlogin {
    padding-top: 10%;
}
#form_adminlogin label{
    display: inline-block;
    width: 150px;
    text-align: right;
    padding-right: 10px;
}
#form_adminlogin input {
    width: 180px;
    height: 30px;
    margin-bottom: 10px;
}
.admin_todo {
    margin-left: 60px;
    text-align: left;
}
.likes_block a:hover img{
    opacity: 1.0;
}

/*snapchat*/
#photo_container {
    display: inline-block;
    /*float: left;*/
    /*height: calc(100vh - 180px);*/
    width: calc(100% - 520px);
}
#superposable_img {
    display: none;
    margin: 20px;
    height: calc(100vh - 300px);
    overflow-y: scroll;
    vertical-align: top;
}
#superposable_img.visible{
    display: inline-block;
    margin-right: 20px;
    height: calc(100vh - 300px);
    overflow-y: scroll;
}
.block_mini_img_filter {
    width: 150px;
}
.mini_img_filter {
    width: calc(100% - 10px);
    margin-bottom: 20px;
}
#camera-stream-div-photo {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
/*opacity: 0.2;*/
    background-color: #e6e6e6;
    background-image: url('../images/white-camera.png');
    background-repeat: no-repeat;
    background-position: center;
    z-index:999;
    width:640px;
    height: 480px;
    cursor: pointer;
}
#camera-stream-div-photo:hover {
    box-shadow: 0 0 5px #292D39;
    background-color: rgb(41, 45, 57, 0.3);
}


.app #start-camera{
    display: none;
    border-radius: 3px;
    max-width: 400px;
    color: #fff;
    background-color: #448AFF;
    text-decoration: none;
    padding: 15px;
    opacity: 0.8;
    margin: 50px auto;
    text-align: center;
}

#camera-stream-div{
    display: inline-block;
    position: relative;
}
.app #layout{
    z-index: 90;
    display: inline;
    position: absolute;
    width: 200px;
    left: 300px;
    top: 200px;
}
#layout_img{
    width: 200px;
}
#layout_img:hover{
    cursor: move;
}
.app video#camera-stream{
    display: none;
}
.app video#camera-stream.visible{
    display: inline-block;
    opacity: 1;
    /*width: 800px;*/
}

.app img#snap{
    position: inherit;
    width: 300px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 10;*/
    display: none;
    /*margin: 20px;*/
}

.app #error-message{
    color: #9b9b9b;
    font-size: 28px;
    /*padding: 200px 100px;*/
    text-align: center;
    display: none;
}

.app .controls{
    /*display: none;*/
    padding: 30px;
}
.app .controls form {
    display: inline-block;
}

.app .controls a, #delete-photo, #save-photo
{
    border-radius: 50%;
    color: #fff;
    background-color: #292D39;
    text-decoration: none;
    padding: 15px;
    line-height: 0;
    opacity: 0.7;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.app .controls a:hover, .app .controls #delete-photo:hover, .app .controls #save-photo:hover{
    opacity: 1;
}

.app .controls a.disabled, .app .controls #delete-photo.disabled, .app .controls #save-photo.disabled{
    background-color: #555;
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.app .controls a.disabled:hover, .app .controls input.disabled:hover{
    opacity: 0.5;
}

.app .controls a i{
    font-size: 18px;
}

.app .controls #take-photo {
    font-size: 32px;
}

.app canvas{
    display: none;
}

.app img#snap.visible{
    display: inline-block;
    margin: 20px;
}
.app #error-message.visible{
    display: inline-block;
    margin: 20px;
}

.app .controls.visible
{
    display: inline-block;
}

input[name="superposable"] {
    display: none;
}

input:checked ~.mini_img_filter{
    border: 2px solid #292D39;
}
#formSnapButton {
    display: none;
}
#notSavedPhotosDiv {
    display: inline-block;
    vertical-align: top;
    max-width: 300px;
}
#notSavedPhotosDiv img {
    width: 100%;
}
#h_notsaved {
    /*display: none;*/
}
#saveDelete form {
    display: inline-block;
}

/*@media(max-width: 1000px){*/
/*    .container{*/
/*        margin: 40px;*/
/*    }*/

/*    .app #start-camera.visible{*/
/*        display: inline-block;*/
/*    }*/

/*    .app .controls a i{*/
/*        font-size: 16px;*/
/*    }*/

/*    .app .controls #take-photo i{*/
/*        font-size: 24px;*/
/*    }*/
/*}*/


/*@media(max-width: 600px){*/
/*    .container{*/
/*        margin: 10px;*/
/*    }*/
/*    .app #error-message{*/
/*        padding: 80px 50px;*/
/*        font-size: 18px;*/
/*    }*/
/*    .app .controls a i{*/
/*        font-size: 12px;*/
/*    }*/
/*    .app .controls #take-photo i{*/
/*        font-size: 18px;*/
/*    }*/
/*}*/

